.checkSection {
  text-align: center;
  column-count: 2;
  column-gap: -100px;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.checkboxClass before {
  color: black;
}
.loginForm1 {
  background: white;
  display: grid;
  text-align: center;
}
