/* This variables will be globally accessed in homepage.scss */
$base-color: #228B22;
$back-color: #fbfbfb;
$border-color: #000000;
$formula_color: #fff;
$font-family: 'Oswald', sans-serif;
$border-style: 1px solid;